/* ⬇️ 本当は文字全て白色にしたい */

/* h1 {
  color: rgb(255, 0, 162);
}

h2 {
  color: rgb(0, 42, 255);
}

h4 {
  color: rgb(183, 0, 255);
}

p {
  color: rgb(255, 98, 0);
} */
/* ⬆️ 本当は文字全て白色にしたい */

.center{
  text-align : center ;
}


.top {
  background-color : #00ff91;
}

.about{
  background-color : #00ddff;
}

.skill{
  background-color : #ff00f7;
}

.works{
  background-color : #ffea00;
}

.contact{
  background-color : #ffffff
}




.font-white {
  color : white;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation-item{
  margin: 20px 10px ;
  list-style: none;
}

.works-img{
  list-style: none;
}

.skill-img{
  text-align:center;
  list-style: none;
  padding:5px
}



/* レイアウトなどのレスポンシブ対応はBootstrapに任せて、ボタンなどの見えるところは、独自にCSSで書くと、オリジナル感が出ておすすめです*/
/* IDとクラスの指定方法 */