.center{
  text-align: center;
}

.top {
  padding: 250px 0;
}

.about{
  padding: 100px  0;
  
}

.skill{
  padding: 100px 0;
}

.works{
  padding: 110px 0;
}

.contact{
  padding : 110px 0;
  text-align: center;
}

.coior{
  min-height:100vh;
  background-image: linear-gradient(#ff58ac 0%,#54c9fa 50%,#00ff73 100%);
}

.font-family{
  font-family: 'Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'sans-serif;
}

.font-white {
  color : rgb(255, 255, 255);
}

/* .navigation {
  display: flex;
  justify-content: center;
} */

.navigation-item{
  margin: 20px /*15px*/;
  list-style: none;
}

.navigation-font-size{
  font-size: 60px;
}

.sns-github{
  cursor: pointer;
}

.messages-font-size{
  font-size: 20px;
  line-height: 40px;
}

.language{
  padding : 5px;
}

.top-name{
  font-size: 90px;
}

.top-subname{
  font-size: 30px;
}

.works-itms-one{
  display: flex;
  justify-content: center;
  margin: 50px;
}

.works-itms-two{
  display: flex;
  justify-content: center;
  margin: 50px;
}

.img-profile{
  margin: 30px;
  width:200px;
	height:200px;
	object-fit:cover;
  border-radius:50%;
}

.skill-box{
  border-radius:50%;
}

.skill-itms-one{
  display: flex;
  justify-content: center;
  margin: 50px ;
}

.skill-itms-two{
  display: flex;
  justify-content: center;
  margin: 50px;
}

header {
  position: fixed;
  /* width: 100%; */
  /* top: 0; */
  z-index: 10000;
}

.contact-comment{
  margin: 50px;
}

.contact-message{
  width: 200px;
  height: 65px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background: #ffffff;
}

.font-orange{
  color: #ff9500;
  font-size: 20px;
  font-weight: bold;
}

.copy-mark{
  margin: 50px;
}

i:hover {
  opacity: 0.5;
}

