/* ⬇️ 本当は文字全て白色にしたい */

h1 {
  color: rgb(255, 0, 162);
}

h2 {
  color: rgb(0, 42, 255);
}

h4 {
  color: rgb(183, 0, 255);
}

p {
  color: rgb(255, 98, 0);
}
/* ⬆️ 本当は文字全て白色にしたい */

.center{
  text-align : center ;
}




/* レイアウトなどのレスポンシブ対応はBootstrapに任せて、ボタンなどの見えるところは、独自にCSSで書くと、オリジナル感が出ておすすめです*/
/* IDとクラスの指定方法 */