* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'sans-serif;
  transition: 0.1s;
}

.center{
  text-align: center;
}

.top {
  padding: 250px 0;
}

.about{
  padding: 100px  0;
  
}

.skill{
  padding: 100px 0;
}

.works{
  padding: 110px 0;
}

.contact{
  padding : 110px 0;
  text-align: center;
}

.color{
  min-height:100vh;
}

.font-white {
  color : rgb(255, 255, 255);
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation-item{
  margin: 20px 20px;
  list-style: none;
}

.navigation-font-size{
  font-size: 60px;
}

.sns-github{
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 20px 30px;
  /* padding : 50px 20px; */
}

.messages-font-size{
  font-size: 20px;
  line-height: 40px;
}

.language{
  font-size: 25px;
  padding : 5px;
}

.top-name{
  font-size: 90px;
}

.top-subname{
  font-size: 30px;
}

.works-itms-one{
  display: flex;
  justify-content: center;
  margin: 30px;
}

.works-itms-two{
  display: flex;
  justify-content: center;
  margin: 30px;
}

.img-profile{
  margin: 30px;
  width:200px;
	height:200px;
	object-fit:cover;
  border-radius:50%;
}

.skill-box{
  border-radius:50%;
}

.skill-item{
  margin: 0 30px;
}

.skill-itms-one{
  display: flex;
  justify-content: center;
  margin: 50px;
}

.skill-itms-two{
  display: flex;
  justify-content: center;
  margin: 50px;
}

header {
  position: fixed;
  /* width: 100%;
  top: 0; */
  z-index: 10000;
}

.contact-comment{
  margin: 30px;
}

.contact-message{
  width: 200px;
  height: 65px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background: #00da21;
}

.font-orange{
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

i:hover {
  opacity: 0.5;
}

.header-color{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  opacity: 0.7 ;
}

ul{
  margin-bottom: 0;
}



.star-rating {
	position: relative;
	font-size: 25px;
	word-wrap: normal !important;
}

.html-star-rating-front {
	position: absolute;
	top: 0;
	left: 0;
  overflow: hidden;
  color: #ffffff;
}

.css-star-rating-front {
	position: absolute;
	top: 0;
	left: 0;
  overflow: hidden;
  color: #ffffff;
}

.javaccript-star-rating-front {
	position: absolute;
	top: 0;
	left: 0;
  overflow: hidden;
  color: #ffffff;
}

.python-star-rating-front {
	position: absolute;
	top: 0;
	left: 0;
  overflow: hidden;
  color: #ffffff;
}

.django-star-rating-front {
	position: absolute;
	top: 0;
	left: 0;
  overflow: hidden;
  color: #ffffff;
}

.star-rating-back {
	color: #ffffff;
}
