.center{
  text-align: center;
}

.top {
  padding: 250px;
}

.about{
  padding: 100px;
  
}

.skill{
  padding: 100px;
}

.works{
  padding: 110px;
}

.contact{
  padding : 110px;
  text-align: center;
}

.coior{
  min-height:100vh;
  background-image: linear-gradient(#edaff9 0%,#5cc9f7 50%,#6efe7f 100%);
}

.font-family{
  font-family: 'Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'sans-serif;
}

.font-white {
  color : rgb(255, 255, 255);
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation-item{
  margin: 20px 15px;
  list-style: none;
}

.navigation-font-size{
  font-size: 60px;
}

.messages-font-size{
  font-size: 20px;
  line-height: 40px;
}

.language{
  padding : 10px;
}

.top-name{
  font-size: 80px;
}

.top-subname{
  font-size: 30px;
}

.works-img{
  text-align: center;
  list-style: none;
  padding: 5px;
}

.img-profile{
  margin: 30px;
  width:200px;
	height:200px;
	object-fit:cover;
  border-radius:50%;
}

.skill-box{
  border-radius:50%;
}

.skill-itms-one{
  display: flex;
  justify-content: center;
  margin: 50px;
}

.skill-itms-two{
  display: flex;
  justify-content: center;
  margin: 50px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

.contact-comment{
  padding : 30px;
}

.contact-message{
  width: 200px;
  height: 65px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  background: #ffffff;
}

.font-green{
  color: #00FF00;
}


.copy-mark{
  padding : 30px;
}


/* レイアウトなどのレスポンシブ対応はBootstrapに任せて、ボタンなどの見えるところは、独自にCSSで書くと、オリジナル感が出ておすすめです*/
/* IDとクラスの指定方法 */