.center{
  text-align : center ;
}


.top {
  padding : 250px;
}


.about{
  padding : 100px;
}

.skill{
  padding : 100px;
}

.works{
  padding : 110px;
}

.contact{
  padding : 150px;
}

.coior{
  min-height:100vh;
  background-image: linear-gradient(#edaff9 0%,#5cc9f7 50%,#6efe7f 100%);
}


.font-white {
  color : rgb(255, 255, 255);
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation-item{
  margin: 20px 10px;
  list-style: none;
}

.works-img{
  text-align: center;
  list-style: none;
  padding: 5px;
}

.skill-img{
  text-align: center;
  list-style: none;
  padding: 5px;
}



/* レイアウトなどのレスポンシブ対応はBootstrapに任せて、ボタンなどの見えるところは、独自にCSSで書くと、オリジナル感が出ておすすめです*/
/* IDとクラスの指定方法 */